// FONTS
@font-face {
  font-family: "Blooming Elegant";
  src: url('../fonts/Blooming_Elegant_Sans.otf') format("opentype")
}

@font-face {
  font-family: "Madgue Script";
  src: url('../fonts/Madgue_Script.otf') format("opentype"),
  url('../fonts/Madgue_Script.ttf') format("truetype")
}

@font-face {
  font-family: "Guardian Egyptian";
  src: url('../fonts/GuardianEgyptianThin.otf') format("opentype")
}

$titleFont: "Madgue Script", serif;
$subtitleFont: "Blooming Elegant", serif;
$textFont: "Guardian Egyptian", sans-serif;