@import "vars";
@import "mixins";

.container {
  @include mainBloc(rgb(192, 174, 177));
}

.form {
  display: flex;
  flex-flow: column wrap;
  width: 80%;
  margin: auto;

  &-label {
    margin: .7rem auto;
    display:block;
    width: 60%;
    font-family: $subtitleFont;
    font-size: 1.7rem;
    text-align: left;
  }

  &-input {
    display: block;
    width: 95%;
    padding: .8rem 1.1rem;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.3);
    margin: .5rem auto;
    font-size: 1.2rem;
    font-family: $textFont;
    transition: all 200ms ease-in;

    &:focus {
      background-color: rgba(255, 255, 255, 0.9);
    }
  }

  &-button {
    display: block;
    width: 200px;
    padding: .3rem 0 .5rem;
    margin: 1rem auto 0;
    font-family: $subtitleFont;
    font-size: 1.8rem;
    border: 2px solid black;
    transition: all 200ms ease-in;
    background-color: transparent;

    &:hover {
      color: white;
      border: 2px solid white;
    }
  }
}

@media (min-width: 768px) {
  
}