@import "vars";
@import "mixins";

.footer {
  @include mainBloc(white);
  min-height: 15vh;
  display: flex;
  align-items: center;
  flex-flow: wrap;
}

.button {
  background-color: transparent;
  font-family: $subtitleFont;
  font-size: 1.7rem;
  border-bottom: 1px solid transparent;

  &:hover {
    color: #546B77;
    border-bottom: 1px solid #546B77;
    transition: all 200ms ease-in;
  }
}

@media (min-width: 768px) {
  .footer {
    //width: 70%;
    margin: auto;
    padding: 2rem 5vw;
    justify-content: space-around;
  }
}

@media (min-width: 980px) {
  .footer {
    padding: 2rem 15vw;
  }
}