@import "_vars";
@import "_animations";

.header {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100vw;
  background-position: top center;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.logoBan {
  width: 40vw;
  margin: auto;
  margin-top: calc(50vh - 13vw);
  opacity: 0;
  animation: dropSection 500ms ease-in-out 600ms forwards;
}

.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255,255,255,.5);
  border-bottom: 1px solid white;

  li {
    color: white;
    text-shadow: 0px 0px 2px #8F9CA5;
    list-style-type: none;
    font-family: $subtitleFont;
    font-size: 2rem;
    margin: 0 1rem;

    a {
      border-bottom: 2px solid rgba(255,255,255,0);
      transition: 200ms ease;
    }

    a:hover {
      border-color: white;
    }
  }

  li:first-child {
    flex-grow: 6;
    .logoNav {
      width: 90px;
      margin: .2rem 0;
      mix-blend-mode: difference;
    }
    a {
      border:none; 
    }
    a:hover > .logoNav {
        mix-blend-mode: normal;
      }
  }

  &-active {
    color: #8F9CA5;
    text-shadow: none;
    
  }
}

@media (min-width: 768px) {
  .header {
    background-position-y: bottom;
  }
}