@import "_vars";
@import "_animations";

.header {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.logoBan {
  width: 90vw;
  margin: auto;
  margin-top: calc(50vh - 20vw);
  mix-blend-mode: overlay;
  opacity: 0;
  animation: dropSection 500ms ease-in-out 600ms forwards;
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: rgba(255,255,255,.5);
  border-bottom: 1px solid white;
  z-index: 2;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  li {
    color: white;
    text-shadow: 0px 0px 2px #8F9CA5;
    list-style-type: none;
    font-family: $subtitleFont;
    font-size: 2rem;
    margin: 0 1rem;

    a {
      border-bottom: 2px solid rgba(255,255,255,0);
      transition: 200ms ease;
    }

    a:hover {
      border-color: white;
    }
  }

  li:first-child {
    flex-grow: 6;

    .logoNav {
      transition: 200ms ease;
      opacity: 0;
      width: 90px;
      margin: .2rem 0;
    }
    a {
      border:none; 
    }
    a:hover > .logoNav {
        mix-blend-mode: difference;
      }
  }

  &-active {
    color: rgb(27, 28, 29);
    text-shadow: none;
    
  }

  &.colored {
    background: linear-gradient(265deg, rgba(213,194,164,.3) 0%, rgba(174,165,168,.3) 28%, rgba(156,78,76,.3) 61%, rgba(183,150,116,.3) 93%);

    li:first-child {
      .logoNav {
        opacity: 1;
      }
    }
  }
}

@media (min-width: 768px) {
  .header {
    background-size: 100vw;
    background-position-y: -100px;
  }

  .logoBan {
    width: 40vw;
    mix-blend-mode: normal;
    margin-top: calc(60vh - 20vw);
  }
}