@import "vars";
@import "mixins";

.container {
  @include mainBloc(white);

  .title {
    margin: 2rem 0 0;
  }
}

.link {
  display: block;
  margin: 3rem 0;

  .banner {
    width: 85%;
    transition: 200ms ease-in;
    border-radius: 5px;
    border:2px solid white;
    position:relative;
    margin: auto;
    z-index: 0;
  }

  &:hover .banner {
    box-shadow: 0 0 20px rgba(134, 108, 93, 0.4);
  }
}

.paragraphe {
  margin: 1rem 0;
  padding: 0 2rem;

  address {
    margin: 0rem 2rem 1rem 2rem;
    font-size: 1.2rem;
    color: #9E4B4A;    
  }
}
