@import "vars";
@import "mixins";

.container {
  @include mainBloc(white);
}

.paragraphe {
  margin: 1rem 0;
  padding: 0 2rem;
}

.gallery {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  width: 90%;
  margin: 2rem auto;

  .photo {
    width: calc(100%/2 - 0.4rem);
    margin: 0.2rem;
  }
}

.list {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  width: 90%;
  margin: auto;

  .event {
    flex: 100%;
    text-align: left;
    margin: 1rem;

    &-name {
      font-size: 1.8rem;
      font-family: $subtitleFont;
      margin-bottom: .5rem;
    }

    &-date {
      margin-left: .3rem;
      font-size: 1rem;
      font-weight: 600;
    }

    &-address {
      font-size: 1rem;
      margin-left: .3rem;
      width: 80%;
    }

    &-link {
      font-family: $subtitleFont;
      margin-left: .3rem;
      color: #546B77;
      border-bottom: 1px solid transparent;
      transition: all 200ms ease-in;

      &:hover {
        border-bottom-color:#546B77;
      }
    }
  }
}

@media (min-width: 768px) {
  .gallery {
    .photo {
      width: calc(100%/5 - 0.4rem);
    }
  }

  .list {
    .event {
      flex: 30%;
    }
  }
}